body {
    background-color: rgb(241,245,254)!important;
  }

h1 {
    margin-top:25%!important;
}

h5{
    margin-bottom: 150px!important;
}

.card{
    height: 290px!important;
}

.slideContainer {
width: 100%;
margin-top: 50px;
}

.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 10px;
    background: linear-gradient(90deg, rgb(214, 214, 214) 60%, rgb(214,214,214) 60%); 
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb{
    width: 40px; 
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

li{
    display:block
}


ul{
    list-style-type : none;
}